html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.section-100vh {
  height: calc(var(--vh, 1vh) * 100);
}

.section-min-100vh {
  min-height: calc(var(--vh, 1vh) * 100);
}

.center {
  justify-content: center;
  text-align: center;
}