html,
body
{
  padding: 0;
  margin: 0;
}

*
{
  box-sizing: border-box;
}

.section-100vh
{
  /* height: calc(var(--vh, 1vh) * 100); */
  margin-bottom: 50px;
  padding: 50px 0px 50px 0px;
}

.section-min-100vh
{
  /* min-height: calc(var(--vh, 1vh) * 100); */
  margin-bottom: 50px;
  padding: 50px 0px 50px 0px;
}

.center
{
  justify-content: center;
  text-align: center;
}

.text-justify
{
  text-align: justify;
  text-justify: auto;
}